body {
	background-color: #C0C0C0;
	color: #000;
	padding: 1em 3em;
	
	font-family: "Arial", sans-serif;
	line-height: 22px;
}


form {
	border: none; 
	
}

hr {
	height: -12px; 
	color: #000;
	margin: 20px;
}




/* BLOCKS */

/* universal indicator for form blocks */
.form-block {
	padding: 20px;
	border: #000 2px solid;
	margin: 10px 10px 20px 10px;
}

/* ROW 1 */

#PatInfo { /* wrapper */
	height: auto;
	position: relative;
	display: flex;
}

#PatInfo .form-block{
	width: 50%;
	height: 200px;
	margin-bottom: 10px; /* fix for the weird extra margin */
}

#ReportingFacility {
	top: 0;
	height: auto;
}

#PatientInfo {
	height: auto;
	top:0;
} 


/* ROW 2 */

#EventOrProblem {
	position: relative;
 
}

#DescAndFindings {
	 
}


/* ROW 3 */

#SusDevice {
	position: relative; 
	
}


/* LAST ROW */
 
#ReportingInfo { /* wrapper */
	height: auto;
	position: relative;
	display: flex;

	flex-wrap: wrap;
}

#ReportingInfo .form-block {
	width: 50%;
	height: 200px;
}


#ReportedTo {
	width: 50%;

	 position: relative; 
}

#ReportedBy {
	width: 50%;
	 position: relative; 

}


.Dates {
	display: flex;
	position: relative;
}

.Dates div {
	padding: 10px;
}


/* BUTTONS */

#SubmitForm {
	position: relative;
	margin: auto;
	width: 100%;
}

input #reset {
	 position: relative; 
	 display: inline-block;
}

input #submit {
	 position: relative;
	 display: inline-block;
	 
	 
	 width: 156px;
	 height: 40px;
}


/* TEXT */
h3 {
	margin-top: 0;
}

.numbering { /* list numbering */
	font-weight: bold;
}
