	<!-- SIGNATURE GOES HERE -->
	<div class="flexbox-wrapper form-section-hideable" id="Signature">
		<div id="sigbox" class="form-block form-section-hideable" >
			<h3><span class="numbering">12. </span>Signature of QA Director</h3>
			<input name="Signature" type="text" id="signature" required>
			<p class="block-note">A QA Director filling out this form must provide dated signature before submission. Please sign in the box above. </p>
		</div>
		
		<div id="sigdate" class="form-block form-section-hideable">
			<h3>Date Signed</h3>
			<input name="SignatureDate" type="date" id="signatureDate" required>
			<p class="block-note">Please fill out the date of signature in the box above.</p>
		</div>
	</div>
