<head><link rel="stylesheet" href="../static/styles/styles.css" /></head>
<h3><span class="numbering">3. </span>Adverse Event or Product Problem</h3>

		<span class="numbering">a. </span><input id="AdverseEvent" name="EventOrProblem" type="checkbox" value="AdverseEvent" />
		<label for="AdverseEvent">Adverse Event</label>
		and/or
		<input name="EventOrProblem" type="checkbox" value="ProductProblem" id="ProductProblem"/>
		<label for="ProductProblem">Product Problem (defects/malfunctions)</label>
		<hr /> 
		
		<span class="numbering">b. </span>Outcome attributed to adverse event (check all that apply): <br />
		<br />
		<input name="outcome" type="checkbox" value="death" id="death" />
		<label for="death">Death (mm/dd/year)</label>
		<input name="DoD" type="date" id="DoD" />

		<input name="outcome" type="checkbox" value="Intervention" id="Intervention" />
		<label for="Intervention"> intervention to prevent permanent impairment/damage</label><br />

		<input name="outcome" type="checkbox" value="LifeThreatening" id="LifeThreatening"/>
		<label for="LifeThreatening">Life-Threatening</label>

		<input name="outcome" type="checkbox" value="Disability" id="Disability" />
		<label for="Disability">Disability</label><br />

		<input name="outcome" type="checkbox" value="Hospitalized" id="Hospitalized"/>
		<label for="Hospitalized">Hospitalized</label>ing

		<input name="outcome" type="checkbox" value="CongenitalAnomaly" id="CongenitalAnomaly"/>
		<label for="CongenitalAnomaly">Congenital Anomaly</label>
		<br />

		<input name="outcome" type="checkbox" value="Other" id="other" onclick="setOther1()"/>
		<label for="Other"> Other: </label>
		<input name="OtherText1" type="text" id="otherText1" placeholder="type"/><br />
		
		<div id="Dates" class="flexbox-wrapper">
			<div class="date">
				<span class="numbering">4.</span>
				<label for="DateOfEvent"> Date of event (mo/day/yr):</label> <br />
				<input name="DateOfEvent" type="date" id="DateOfEvent" />
			</div>
			<div class="date">
				<span class="numbering">5. </span>
				<label for="DateOfReport">Date of this report (mo/day/yr):</label> <br />
				<input name="DateOfReport" type="date" id="DateOfReport"  />
			</div>
			<div class="date">
				<span class="numbering">6. </span>
				<label for="DateClosed">Date report closed (mo/day/yr):</label> <br />
				<input name="DateClosed" type="date" id="DateClosed" />
			</div>
		</div>