<head><link rel="stylesheet" href="../../static/styles/styles.css" /></head>
<h3>Event Information</h3>

		<span class="numbering">7. </span>
		<label for="Description">Describe Event or Problem: </label> <br /><br />
		<textarea name="Description" placeholder="Please type here..." id="Description" maxlength="256" > </textarea><br />
		<br />
		<span class="numbering">8. </span>
		<label for="Findings">Findings:</label> <br /><br />
		<textarea name="Findings" placeholder="Please type here..." id="Findings" maxlength = 100 > </textarea>