<!---Right Index file-->
<!DOCTYPE html>
<html>

<head>
	<meta content="en-us" http-equiv="Content-Language" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}" />

    <link rel="stylesheet" href="../../static/styles/styles.css">
	
	<title>Incident Form</title>
</head>

<script>
    function hideEmptySections() {
        var elements = document.getElementsByClassName("form-section-hideable"); // get elements with hideable class

        for (i=0;i<elements.length;i++) {
            if (elements[i].children.length <= 0) {
                elements[i].style.display = 'none'; // if the hideable element has no children, don't display 
            }
        }
    }
</script>

<body onload="hideEmptySections()">
<!--THIS IS A SCRIPT FOR DETECTING IF ANY CHECKBOXES ARE UNCHECKED-->

<div id="header">
	<h1>Medical Device Incident Reporting Form</h1>
	<h2>MDIR-1</h2>
</div>


<form action="" method="post" >
<div id="form-container">
	<div id="PatInfo" class="flexbox-wrapper form-section-hideable">
	
		<!-- PATIENT INFO -->
		
		<!-- REPORTING FACILITY -->

	</div>
	
	<div class="form-block form-section-hideable" >
		<!-- ADVERSE EVENT OR PRODUCT PROBLEM -->
        
	</div>
	
	<div class ="form-block form-section-hideable" id="DescAndFindings">
		<!-- DESC AND FINDINGS -->
    </div>
	

	<div class ="form-block form-section-hideable" id="SusDevice" >
		<!-- SUS DEVICE -->
	</div>


	<div class="flexbox-wrapper" id="ReportingInfo">
        <div id="ReportedBy" class="form-block form-section-hideable" >
            <!-- REPORTED BY -->
        </div>
    
        <div id="ReportedTo" class="form-block form-section-hideable">
            <!-- REPORTED TO -->
        </div>

	</div>
	
	</div>

	<div id="SubmitForm">
		
		<input id="reset" name="Reset1" type="reset" value="Reset" />
		or
		<input id="submit" name="Submit" type="submit" value="Submit" />
	</div>

	<script src="scripts.js"></script>
</form>

</body>

</html>