<head><link rel="stylesheet" href="../../static/styles/styles.css" /></head>
<div class ="form-block" id="PatientInfo">
    <h3><span class="numbering">1. </span>Patient Information</h3>
    <p class="block-note">It is our policy not to collect any patient information unless requested to do so by the Original Equipment Manufacturer (OEM).</p>

    <span class="numbering">a. </span><label for="ptID">PT Identifier: </label><input name="ptID" id="ptID" type="number" /><br />
    <span class="numbering">b. </span><label for="DoB">Date of Birth: (mm/dd/year)</label> <input name="DoB" id="DoB" type="date"  /><br />
    <span class="numbering">c. </span><label>Sex: </label> <input name="radSex" type="radio" value="female" required />Female<input name="radSex" type="radio" value="male"/>Male<br />
    <span class="numbering">d. </span> <label for="Weight"> Weight (lbs): </label> <input id="Weight" name="Weight" type="number" /><br />
</div>