<head><link rel="stylesheet" href="../../static/styles/styles.css" /></head>
<h3><span class="numbering">11. </span>Also Reported to: </h3>
				Name/Company<br />
				<input name="chkManu" type="checkbox" value="yes" onclick="notifiedManu()"/>&nbsp;Manufacturer: <input name="RepManuName" id="repManuName" type="text" /><br />
				<input name="chkRepFac" type="checkbox" value="yes" onclick="notifiedFac()" />&nbsp;User Facility: <input name="RepUserFac" id="repUserFac" type="text" /><br />
				<input name="chkDistImp" type="checkbox" value="yes" onclick="notifiedDistImp()"/>&nbsp;Distributor/Importer: <input name="RepDisImp" id="repDistImp" type="text" /><br />