<head><link rel="stylesheet" href="../../static/styles/styles.css" /></head>
<h3><span class="numbering">10. </span>
    Report Completed by:</h3>

<label for="repComp">Company: </label>
<input name="RepComp" type="text" id="repComp" /><br />

<label for="repName">Name: </label>
<input name="RepName" type="text" id="repName" /><br />

<label for="repAddress">Address: </label>
<input name="RepAddress" type="text" id="repAddress"  /><br />

<label for="repCity"> City: </label>
<input name="RepCity" type="text" id="repCity" /><br />

<label for="repState">State:</label>
<input name="RepState" type="text" id="repState" /><br />

<label for="repPhone">Phone: </label>
<input name="RepPhone" type="tel" placeholder="xxxxxxxxxx" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  id="repPhone" ><br />