<!doctype html>
    <link rel="stylesheet" href="../static/styles/styles.css"/>
  <head>

  </head>
  
  <body>
        <div class="header">
            <h1>Welcome to the Incident Report Editing Page</h1>
            <p>You can edit any submitted forms here.</p>
        </div>

    <!-- NAVBAR -->  
        <div class="topnav" id="myTopnav">
            <a href="{{url_for('home')}}" class="active">Home</a>
            <a href="{{url_for('profile')}}">View Profile</a>
            <a href="{{url_for('index')}}">Create Form</a>
            <a  href="{{url_for('viewform')}}" >View Form</a>
            <a id = "edit" href="{{url_for('edit')}}">Edit Form</a>
            
      </div>
      <script type="text/javascript">
	
        function loadSig() {
           var isAdmin = "{{adminitem[0]}}"
       
             if (isAdmin == 0) //checks t see if other checkbox is checked
             {
               document.getElementById("signature").setAttribute("hidden", true);
               document.getElementById("signatureDate").setAttribute("hidden", true);
               document.getElementById("sig").setAttribute("hidden",true);
               document.getElementById("dsign").setAttribute("hidden",true);	
               document.getElementById("edit").setAttribute("hidden", true);
             }
           else
             {
               document.getElementById("signature").removeAttribute("hidden", true);
               document.getElementById("signatureDate").removeAttribute("hidden", true);
             
             }
           }
         window.onload = loadSig
         </script>

      <div class="row">
        <div class="side">
            <h1 class="red">Please select the form you would like to edit from the list.</h1>
            <p>This is the editing page for an already submited incident report form. If you need to fill out a incident report, click create form above, or click <a href="{{url_for('index')}}">here</a>.</p>
          <br>
        </div>
        <div class="main">
          <form action="" method="post">
            <p><label for="option">Forms currently in your database:</label></p>
            <select size =15 id="choice" name="formnumedit"> 
              {% for i in formID %}
                <option id="optchoice" name="formnum"><div id = "selectoptions">{{formID[i]}} Date: {{Date[i]}}, CompletedBy:{{CompletedBy[i]}}, Facility: {{Facility[i]}}, Brand: {{Brand[i]}}</div></option>
              {% endfor %}
              
            <!--  ((2,),(1,) [0][0])-->  
            </select>
            <h5></h5>
            <input type="submit" value="Submit">
        </form>
        </div>
      </div>

      <div id="footer">
        <center><p>&#169; All Rights Reserved.</p></center>
      </div>

    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>