<!doctype html>
<link rel="stylesheet" href="../static/styles/styles.css"/>
  <head>
    
  </head>
  
  <body>
        <center>
            <div class="headerHome header">
                <h1>Welcome to the Incident Report Form Site</h1>
                <p>To fill out an incident report form, read and follow the instructions below.</p>
            </div>
        </center>

    <!-- NAVBAR -->  
    <div class="topnav" id="myTopnav">
      <div class="navwrapper">
        <a href="{{url_for('home')}}" class="active">Home</a>
        <a href="{{url_for('profile')}}">View Profile</a>
        <a href="{{url_for('index')}}">Create Form</a>
        <a href="{{url_for('viewform')}}">View Form</a>
        <a id = "edit" href="{{url_for('edit')}}">Edit Form</a>
        <a id = "Logout" href="{{url_for('logout')}}">Logout</a>
        <div class="userbutton"><a href="{{url_for(page)}}">{{usermsg}}</a></div>
      </div>
    </div>
   <script>
    var isAdmin = "{{ adminitem[0] }}"
    
    if (isAdmin == 0) //checks t see if other checkbox is checked
    {
      document.getElementById("edit").setAttribute("hidden", true);
    }

  
    window.onload = loadSig
</script>
      <div class="row">
        <div class="side">
          <h3>About Us</h3>
              <center><img src="../static/styles/stock.jpg" alt=""></center>
              <p>Here at <i>Americal Medical</i>, we want to ensure everyone feels safe at all times. So, in the event that something does go wrong, we encourage you to fill out an incident report form.</p>
            
          <br>
        </div>
        <div class="main">
          <h2>What is an Incident Report Form?</h2>
          <p>An incident report form is a form that details the issues of a problematic medical device that needs to be replaced.</p>
          <br>
          <h2>Filling Out an Incident Report Form</h2>
          <p>To fill out an incident report form, click the <i>Create Report</i> option above, or click <a href="{{url_for('index')}}">here</a>.</p>
        </div>
      </div>
      
      <div id="footer">
        <center><p>&#169; All Rights Reserved.</p></center>
      </div> 
      
      
  </body>
</html>