<!doctype html>
<link rel="stylesheet" href="../static/styles/Homepage.css"/>
  <head>
    
  </head>
  
  <body>
        <center>
            <div class=header>
                <h1><font>Welcome To The Incident Report Form Page</font></h1>
                <p>To fill out an incident report form read and follow the instruction below</p>
            </div>
        </center>
    <!-- NAVBAR -->  
    <div class="topnav" id="myTopnav">
        <a href="Homepage.html" class="active">Home</a>
        <a href="index.html">Create Form</a>
        <a href="ViewForm.html">View Form</a>
      </div>
      <div class="row">
        <div class="side">
          <h3>Americal Medical</h3>
          <img src="../static/styles/stock.jpg" alt="">
          <p> Here at americal medical we want to ensure everone feels safe at all time. So in the event that something does go wrong we encourage your to fill out an incident report form.
          </p>
          <br>
        </div>
        <div class="main">
          <h2>Incident Report Form</h2>
          <p>To fill out an incident report form click the create report option above or click <a href="index.html"> Here</a></p>
          <h2>What is an incident report form</h2>
          <p>Some text..</p>
        </div>
      </div>
      <table width = "100%"  align = "center" bgcolor=#1F497D>  
        <center>
            <tr style="height:30px">
            <th><font color = "white" size="1" align="center">Ⓒ All rights reseverd</font></th>
            </tr>
        </center>
<div>
  </body>
</html>