
<!---Right Index file-->
<!DOCTYPE html>
<html>

<head>
	<script>
		function getText() {

			var a = document.getElementById("ourPara")
			alert("Your form has been succsfully submitted")
		}

	</script>
	<meta content="en-us" http-equiv="Content-Language" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<link rel="stylesheet" href="../static/styles/styles.css" />
	<center>
            <div class=header>
                <h1><font>Welcome To The Incident Report Page</font></h1>
                <p>Please fill out the form below</p>
            </div>
        </center>
    <!-- NAVBAR -->  
    <div class="topnav" id="myTopnav">
		<div class="navwrapper">
			<a href="{{url_for('home')}}" class="active">Home</a>
			<a href="{{url_for('index')}}">Create Form</a>
			<a href="{{url_for('viewform')}}">View Form</a>
			<a href="{{url_for('profile')}}">View Profile</a>
			<div class="userbutton"><a href="{{url_for('index')}}">{{usermsg}}</a></div>
		</div>
	</div>
</head>

<body>
<!--THIS IS A SCRIPT FOR DETECTING IF ANY CHECKBOXES ARE UNCHECKED-->
<!--
	Nav bars testing
	<div id = "topnavbar"><div id ="userinfoleft"></div><div id="profilebutton right"><a href="profile.html">Profile</a></div></div>
<div id="leftnavbar"><div>page1</div></div>
-->
<div id="header">
	<h1>Medical Device Incident Reporting Form</h1>
</div>


<form action="" method="post" >
<div id="form-container">
	<div id="PatInfo" class="flexbox-wrapper form-section-hideable">
	
		<div class ="form-block" id="PatientInfo">
			<h3><span class="numbering">1. </span>Patient Information</h3>
			<p class="block-note">It is our policy not to collect any patient information unless requested to do so by the Original Equipment Manufacturer (OEM).</p>

			<span class="numbering">a. </span><label for="ptID">PT Identifier: </label><input name="ptID" id="ptID" type="number" /><br />
			<span class="numbering">b. </span><label for="DoB">Date of Birth: (mm/dd/year)</label> <input name="DoB" id="DoB" type="date"  /><br />
			<span class="numbering">c. </span><label>Sex: </label> <input name="radSex" type="radio" value="female" required />Female<input name="radSex" type="radio" value="male"/>Male<br />
			<span class="numbering">d. </span> <label for="Weight"> Weight (lbs): </label> <input id="Weight" name="Weight" type="number" /><br />
		</div>
		
		<div class ="form-block" id="ReportingFacility" >
			<h3><span class="numbering">2. </span>Reporting Facility Information</h3>
			<label for="rptBy">Reported by:</label> <input id="rptBy" name="rptBy" type="text" /><br />
			<label for="facName">Facility Name:</label><input id="facName" name="facName" type="text" /><br />
			<label for="Address"> Address:</label> <input name="Address" id="Address" type="text" /><br />
			<label for="City">City:</label> <input name="City" type="text" id="City" required/>
			<label for="FacilityState">State:</label><select name="FacilityState" id="FacilityState" size="1">
				<option></option>
				<option value="Alabama">Alabama</option>
				<option value="Alaska">Alaska</option>
				<option value="Arizona">Arizona</option>
				<option value="Arkansas">Arkansas</option>
				<option value="California">California</option>
				<option value="Colorado">Colorado</option>
				<option value="Conneticut">Conneticut</option>
				<option value="Deleware">Delaware</option>
				<option value="Florida">Florida</option>
				<option value="Georgia">Georgia</option>
				<option value="Hawaii">Hawaii</option>
				<option value ="Idaho">Idaho</option>
				<option value="Illinois">Illinois</option>
				<option value="Indiana">Indiana</option>
				<option value="Iowa">Iowa</option>
				<option value="Kansas">Kansas</option>
				<option value="Kentucky">Kentucky</option>
				<option value="Louisiana">Louisiana</option>
				<option value="Maine">Maine</option>
				<option value="Maryland">Maryland</option>
				<option value="Massachusetts">Massachusetts</option>
				<option value="Michigan">Michigan</option>
				<option value="Minnesota">Minnesota</option>
				<option value="Mississippi">Mississippi</option>
				<option value="Missouri">Missouri</option>
				<option value="Montana">Montana</option>
				<option value="Nebraska">Nebraska</option>
				<option value="Nevada">Nevada</option>
				<option value="New Hampshire">New Hampshire</option>
				<option value="New Jersey">New Jersey</option>
				<option value="New Mexico">New Mexico</option>
				<option value="New York">New York</option>
				<option value="North Carolina">North Carolina</option>
				<option value="North Dakota">North Dakota</option>
				<option value="Ohio">Ohio</option>
				<option value="Oklahoma">Oklahoma</option>
				<option value="Oregon">Oregon</option>
				<option value="Pennsylvania">Pennsylvania</option>
				<option value="Rhode Island">Rhode Island</option>
				<option value="South Carolina">South Carolina</option>
				<option value="South Dakota">South Dakota</option>
				<option value="Tennessee">Tennessee</option>
				<option value="Texas">Texas</option>
				<option value="Utah">Utah</option>
				<option value="Vermont">Vermont</option>
				<option value="Virginia">Virginia</option>
				<option value ="Washington">Washington</option>
				<option value ="Washington DC">Washington DC</option>
				<option value="West Virginia">West Virginia</option>
				<option value="Wisconsin">Wisconsin</option>
				<option value="Wyoming">Wyoming</option>
			</select><br />
			Zip: <input id="Zip" name="Zip" type="number" maxlength="5" placeholder="xxxxx" required ><br />
			Phone: <input name="Phone" id="Phone" type="tel" placeholder="xxxxxxxxxx" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" />
		</div>
	</div>
	
	<div class="form-block form-section-hideable">
		<h3><span class="numbering">3. </span>Adverse Event or Product Problem</h3>

		<span class="numbering">a. </span><input id="AdverseEvent" name="EventOrProblem" type="checkbox" value="AdverseEvent" />
		<label for="AdverseEvent">Adverse Event</label>
		and/or
		<input name="EventOrProblem" type="checkbox" value="ProductProblem" id="ProductProblem"/>
		<label for="ProductProblem">Product Problem (defects/malfunctions)</label>
		<hr /> 
		
		<span class="numbering">b. </span>Outcome attributed to adverse event (check all that apply): <br />
		<br />
		<input name="outcome" type="checkbox" value="death" id="death" onclick="setDoD()"/>
		<label for="death">Death (mm/dd/year)</label>
		<input name="DoD" type="date" id="DoD" />

		<input name="outcome" type="checkbox" value="Intervention" id="Intervention" />
		<label for="Intervention"> intervention to prevent permanent impairment/damage</label><br />

		<input name="outcome" type="checkbox" value="LifeThreatening" id="LifeThreatening"/>
		<label for="LifeThreatening">Life-Threatening</label>

		<input name="outcome" type="checkbox" value="Disability" id="Disability" />
		<label for="Disability">Disability</label><br />

		<input name="outcome" type="checkbox" value="Hospitalized" id="Hospitalized"/>
		<label for="Hospitalized">Hospitalized</label>

		<input name="outcome" type="checkbox" value="CongenitalAnomaly" id="CongenitalAnomaly"/>
		<label for="CongenitalAnomaly">Congenital Anomaly</label>
		<br />

		<input name="outcome" type="checkbox" value="Other" id="other" onclick="setOther1()"/>
		<label for="Other"> Other: </label>
		<input name="OtherText1" type="text" id="otherText1" placeholder="type"/><br />
		
		<div id="Dates" class="flexbox-wrapper">
			<div class="date">
				<span class="numbering">4.</span>
				<label for="DateOfEvent"> Date of event (mo/day/yr):</label> <br />
				<input name="DateOfEvent" type="date" id="DateOfEvent" />
			</div>
			<div class="date">
				<span class="numbering">5. </span>
				<label for="DateOfReport">Date of this report (mo/day/yr):</label> <br />
				<input name="DateOfReport" type="date" id="DateOfReport"  />
			</div>
			<div class="date">
				<span class="numbering">6. </span>
				<label for="DateClosed">Date report closed (mo/day/yr):</label> <br />
				<input name="DateClosed" type="date" id="DateClosed" />
			</div>
		</div>
	</div>
	
	<div class ="form-block form-section-hideable" id="DescAndFindings">
		<h3>Event Information</h3>

		<span class="numbering">7. </span>
		<label for="Description">Describe Event or Problem: </label> <br /><br />
		<textarea name="Description" placeholder="Please type here..." id="Description" maxlength="256" > </textarea><br />
		<br />
		<span class="numbering">8. </span>
		<label for="Findings">Findings:</label> <br /><br />
		<textarea name="Findings" placeholder="Please type here..." id="Findings" maxlength = 100 > </textarea></div>
	

	<div class ="form-block form-section-hideable" id="SusDevice">
		<h3><span class="numbering">9. </span>
			<h3>Suspect Medical Device</h3>

		<span class="numbering">a. </span>
		<label for="BrandName">Brand Name:</label>
		<input name="BrandName" type="text" id="BrandName" />

		<span class="numbering">c. </span>
		<label for="ModelNum">Model # </label>
		<input name="ModelNum" type="text" id="ModelNum" /><br />

		<span class="numbering">b. </span>
		<label for="DeviceType">type of device:</label>
		<input name="DeviceType" type="text" id="DeviceType"  />

		<span class="numbering">d. </span>
		<label for="SerielNum">Serial #</label>
		<input name="SerialNum" type="text" id="SerielNum" /><br />

		<br />

		<label for="ManuName"> Manufacturer Name:</label>
		<input name="ManuName" type="text" id="ManuName" />

		<label for="ManuCity"> City: </label>
		<input name="ManuCity" type="text" id="ManuCity" />

		<label for="ManuState">State: </label>
		<select name="ManuState" id="ManuState" size="1">
			<option></option>
			<option value="Alabama">Alabama</option>
			<option value="Alaska">Alaska</option>
			<option value="Arizona">Arizona</option>
			<option value="Arkansas">Arkansas</option>
			<option value="California">California</option>
			<option value="Colorado">Colorado</option>
			<option value="Conneticut">Conneticut</option>
			<option value="Deleware">Delaware</option>
			<option value="Florida">Florida</option>
			<option value="Georgia">Georgia</option>
			<option value="Hawaii">Hawaii</option>
			<option value ="Idaho">Idaho</option>
			<option value="Illinois">Illinois</option>
			<option value="Indiana">Indiana</option>
			<option value="Iowa">Iowa</option>
			<option value="Kansas">Kansas</option>
			<option value="Kentucky">Kentucky</option>
			<option value="Louisiana">Louisiana</option>
			<option value="Maine">Maine</option>
			<option value="Maryland">Maryland</option>
			<option value="Massachusetts">Massachusetts</option>
			<option value="Michigan">Michigan</option>
			<option value="Minnesota">Minnesota</option>
			<option value="Mississippi">Mississippi</option>
			<option value="Missouri">Missouri</option>
			<option value="Montana">Montana</option>
			<option value="Nebraska">Nebraska</option>
			<option value="Nevada">Nevada</option>
			<option value="New Hampshire">New Hampshire</option>
			<option value="New Jersey">New Jersey</option>
			<option value="New Mexico">New Mexico</option>
			<option value="New York">New York</option>
			<option value="North Carolina">North Carolina</option>
			<option value="North Dakota">North Dakota</option>
			<option value="Ohio">Ohio</option>
			<option value="Oklahoma">Oklahoma</option>
			<option value="Oregon">Oregon</option>
			<option value="Pennsylvania">Pennsylvania</option>
			<option value="Rhode Island">Rhode Island</option>
			<option value="South Carolina">South Carolina</option>
			<option value="South Dakota">South Dakota</option>
			<option value="Tennessee">Tennessee</option>
			<option value="Texas">Texas</option>
			<option value="Utah">Utah</option>
			<option value="Vermont">Vermont</option>
			<option value="Virginia">Virginia</option>
			<option value ="Washington">Washington</option>
			<option value ="Washington DC">Washington DC</option>
			<option value="West Virginia">West Virginia</option>
			<option value="Wisconsin">Wisconsin</option>
			<option value="Wyoming">Wyoming</option>
		</select><br />
		
		<span class="numbering">f. </span>Operator of device:
		<input name="operator" type="checkbox" value="HealthProfessional" />Health Professional
		<input name="operator" type="checkbox" value="User/Patient"/>Lay user/patient
		<input name="operator" type="checkbox" id="otherCHK" value="Other2" />Other: <!--<input name="outcome" type="checkbox" value="death" id="death" />-->
		<input name="OtherText2" type="text" id="otherText2" /><br />
		<br />

		
	</div>


	<div class="flexbox-wrapper" id="ReportingInfo">
		<!--<h3>Reporting Information</h3>-->
			<div id="ReportedBy" class="form-block form-section-hideable">
				<h3><span class="numbering">10. </span>
					Report Completed by:</h3>

				<label for="repComp">Company: </label>
				<input name="RepComp" type="text" id="repComp" /><br />

				<label for="repName">Name: </label>
				<input name="RepName" type="text" id="repName" /><br />

				<label for="repAddress">Address: </label>
				<input name="RepAddress" type="text" id="repAddress"  /><br />

				<label for="repCity"> City: </label>
				<input name="RepCity" type="text" id="repCity" /><br />

				<label for="repState">State:</label>
				<select name="RepState" id="repState" size="1">
					<option></option>
					<option value="Alabama">Alabama</option>
					<option value="Alaska">Alaska</option>
					<option value="Arizona">Arizona</option>
					<option value="Arkansas">Arkansas</option>
					<option value="California">California</option>
					<option value="Colorado">Colorado</option>
					<option value="Conneticut">Conneticut</option>
					<option value="Deleware">Delaware</option>
					<option value="Florida">Florida</option>
					<option value="Georgia">Georgia</option>
					<option value="Hawaii">Hawaii</option>
					<option value ="Idaho">Idaho</option>
					<option value="Illinois">Illinois</option>
					<option value="Indiana">Indiana</option>
					<option value="Iowa">Iowa</option>
					<option value="Kansas">Kansas</option>
					<option value="Kentucky">Kentucky</option>
					<option value="Louisiana">Louisiana</option>
					<option value="Maine">Maine</option>
					<option value="Maryland">Maryland</option>
					<option value="Massachusetts">Massachusetts</option>
					<option value="Michigan">Michigan</option>
					<option value="Minnesota">Minnesota</option>
					<option value="Mississippi">Mississippi</option>
					<option value="Missouri">Missouri</option>
					<option value="Montana">Montana</option>
					<option value="Nebraska">Nebraska</option>
					<option value="Nevada">Nevada</option>
					<option value="New Hampshire">New Hampshire</option>
					<option value="New Jersey">New Jersey</option>
					<option value="New Mexico">New Mexico</option>
					<option value="New York">New York</option>
					<option value="North Carolina">North Carolina</option>
					<option value="North Dakota">North Dakota</option>
					<option value="Ohio">Ohio</option>
					<option value="Oklahoma">Oklahoma</option>
					<option value="Oregon">Oregon</option>
					<option value="Pennsylvania">Pennsylvania</option>
					<option value="Rhode Island">Rhode Island</option>
					<option value="South Carolina">South Carolina</option>
					<option value="South Dakota">South Dakota</option>
					<option value="Tennessee">Tennessee</option>
					<option value="Texas">Texas</option>
					<option value="Utah">Utah</option>
					<option value="Vermont">Vermont</option>
					<option value="Virginia">Virginia</option>
					<option value ="Washington">Washington</option>
					<option value ="Washington DC">Washington DC</option>
					<option value="West Virginia">West Virginia</option>
					<option value="Wisconsin">Wisconsin</option>
					<option value="Wyoming">Wyoming</option>
				</select><br />

				<label for="repPhone">Phone: </label>
				<input name="RepPhone" type="tel" placeholder="xxxxxxxxxx" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"  id="repPhone" ><br />
			</div>
		
			<div id="ReportedTo" class="form-block form-section-hideable">
				<h3><span class="numbering">11. </span>Also Reported to: </h3>
				Name/Company<br />
				<input name="chkManu" type="checkbox" value="yes" onclick="notifiedManu()"/>&nbsp;Manufacturer: <input name="RepManuName" id="repManuName" type="text" /><br />
				<input name="chkRepFac" type="checkbox" value="yes" onclick="notifiedFac()" />&nbsp;User Facility: <input name="RepUserFac" id="repUserFac" type="text" /><br />
				<input name="chkDistImp" type="checkbox" value="yes" onclick="notifiedDistImp()"/>&nbsp;Distributor/Importer: <input name="RepDisImp" id="repDistImp" type="text" /><br />
			</div>
	
	</div>


	<!-- SIGNATURE GOES HERE -->

	
	</div>

	<div id="SubmitForm">
		
		<input id="reset" name="Reset1" type="reset" value="Reset" />
		or
		<input id = "ourPara" onClick = "getText()" id="submit" name="Submit" type="submit" value="Submit" />
	</div>

	<script type="text/javascript"
         src="{{ url_for('static', filename='scripts.js') }}"></script>
</form>

</body>

</html>
