<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		
		<link rel="stylesheet" href="../static/styles/styles.css">

		<!-- for testing only
		<link rel="stylesheet" href="../static/styles/styles.css">
        <link rel="stylesheet" href="../static/styles/login-styles.css">
 		-->
	</head>

	<body style="padding: 2em 2em;text-align: center;background-image: url('../static/styles/Doctor.jpg');background-repeat: no-repeat;background-size: cover;background-color: #97C0C8;">
			<div id="login">
				<h1>Login</h1>
				
				<form action="{{ url_for('login') }}" method="post">
					<div id="login-elements">
						<div class="flexbox-wrapper">
							<div class="login-label">
								<label for="username">Username: </label>
							</div>
							<div class="login-textbox">
								<input type="text" name="username" id="username" required>
							</div>
						</div>
						<br>
						<div class="flexbox-wrapper">
							<div class="login-label">
								<label for="password">Password:</label>
							</div>
							<div class="login-textbox">
								<input type="password" name="password" id="password" required>
							</div>
						</div>
					</div>
					<div class="msg"></div>

					<div id ="login-buttons" >
						<input type="submit" value="Login">
					</div>
				</form>
			</div>
	</body>
</html>