<!doctype html>
<link rel="stylesheet" href="../static/styles/styles.css"/>
  <head>
    
  </head>
  
  <body>
        <center>
            <div class=headerHome>
                <h1><font>Welcome To The Profile page</font></h1>
                <p>View your profile details below</p>
            </div>
        </center>
    <!-- NAVBAR -->  
    <div class="topnav" id="myTopnav">
      <a href="{{url_for('home')}}" class="active">Home</a>
      <a href="{{url_for('index')}}">Create Form</a>
      <a href="{{url_for('viewform')}}">View Form</a>
      <a herf="profile.html">View Profile</a>
        <div class= userbutton><a href="{{url_for(page)}}">{{usermsg}}</a></div>
    </div>
    <div class="Profilerow">
        <div class="Profileside">
          <h3>Profile settings</h3>
          <center>
          <img src="../static/styles/Profile.jpeg" height="50%" width="30%">
          </center>
          <p>This page displays your profile setting. Your profile is setup through the hosptial, so if anything needs to be changed contact support. </p>
          <br>
          <br>
        </div>
        <div class="main">
        <h3>User Privileges:</h3>
        <p >Admin or user</p>
        <h5></h5>

        <h3>Username</h3>
        <p>{{username}}</p>
        <h5></h5>

          <h3>Email</h3>
          <p>{{email}}</p>
          <h5></h5>
  
          <h3>Name:</h3>
          <p>{{lastname}}  {{FirstName}}</p>
          <h5></h5>

          <h3>Company</h3>
          <p>{{Company}}</p>
          <h5></h5>

          <h3>Address</h3>
          <p>{{Address}}</p>
          <h5></h5>

          <h3>City</h3>
          <p>{{City}}</p>
          <h5></h5>

          <h3>State</h3>
          <p>{{State}}</p>
          <h5></h5>

          <h3>Phone</h3>
          <p>{{Phone}}</p>
          <h5></h5>

          
        </div>
      </div>
      <table width = "100%"  align = "center" bgcolor=#1F497D>  
        <center>
            <tr style="height:30px">
            <th><font color = "white" size="1" align="center">Ⓒ All rights reseverd</font></th>
            </tr>
        </center>
      </div>
    </body>
</html>