<!doctype html>
<link rel="stylesheet" href="../static/styles/styles.css"/>
  <head>
    
  </head>
  
  <body>
        <center>
            <div class="headerHome header">
                <h1>Welcome To The Profile Page</h1>
                <p>View your profile details below.</p>
            </div>
        </center>

    <!-- NAVBAR -->  
    <div class="topnav" id="myTopnav">
      <div class="navwrapper">
        <a href="{{url_for('home')}}" class="active">Home</a>
        <a href="{{url_for('profile')}}">View Profile</a>
        <a href="{{url_for('index')}}">Create Form</a>
        <a href="{{url_for('viewform')}}">View Form</a>
        <a href="{{url_for('edit')}}">Edit Form</a>
        <div class="userbutton"><a href="{{url_for(page)}}">{{usermsg}}</a></div>
      </div>
    </div>
    
    <div class="Profilerow">
        <div class="Profileside">
          <center><img class="profile-img" src="../static/styles/Profile.jpeg"></center>
          <p>This page displays your profile settings. Your profile is set up through the hosptial, so if anything needs to be changed, please contact support. </p>
        </div>

      <div class="main Profilemain"> 
        <h3 style="border-top: 0;">User Privileges</h3>
        <p class="profile-info-text">{{Admin}}</p>

        <h3>Username</h3>
        <p class="profile-info-text">{{username}}</p>

        <h3>Email</h3>
        <p class="profile-info-text">{{email}}</p>

        <h3>Name:</h3>
        <p class="profile-info-text">{{lastname}}  {{FirstName}}</p>

        <h3>Company</h3>
        <p class="profile-info-text">{{Company}}</p>

        <h3>Address</h3>
        <p class="profile-info-text">{{Address}}</p>

        <h3>City</h3>
        <p class="profile-info-text">{{City}}</p>

        <h3>State</h3>
        <p class="profile-info-text">{{State}}</p>

        <h3>Phone</h3>
        <p class="profile-info-text">{{Phone}}</p>

      </div>
    </div>

    <div id="footer">
      <center><p>&#169; All Rights Reserved.</p></center>
    </div>
      
  </body>
</html>