<!doctype html>
    <link rel="stylesheet" href="../static/styles/styles.css"/>
  <head>
    
  </head>
  
  <body>
        <center>
            <div class=header>
                <h1><font>Welcome To The Incident Report Viewing Page</font></h1>
                <p>Select which form you would like to view below</p>
            </div>
        </center>
    <!-- NAVBAR -->  
    <div class="topnav" id="myTopnav">
        <a href="Homepage.html" class="active">Home</a>
        <a href="index.html">Create Form</a>
        <a href="ViewForm.html">View Form</a>
      </div>
      <div>
        <center>
            <div class="boxView">
                <p style="color: rgb(255, 0, 0);"> <font size="6+">Please select the form you would like to view below</font></p>
                <p> <font size="3px">This is the viewing page for already submited icident report forms. If you need to fill out a incident report click create form above or click  <a href="index.html"> here</a></font></p>
            </div>
        </center>
       </div> 
    <div class="form-view">
        <form>
                    <label for = "option" >What would you like to do:</label>
                    <h5></h5>
                    <input list="Choice" id="option" name="option" size="102">
                    <datalist id="Choice">
                        <option value = "form 1">
                        <option value = "form 2">
                        <option value = "form 3">   
                    </datalist>
                    <h5></h5>
                    <center>
                    <input type="submit" value="submit" class="submitBTN">
                   </center>
        </form>
    </div>
  </body>