<!doctype html>
    <link rel="stylesheet" href="../static/styles/styles.css"/>
  <head>

  </head>
  
  <body>
        <center>
            <div class="header">
                <h1>Welcome To The Incident Report Viewing Page</h1>
                <p>Select which form you would like to view below</p>
            </div>
        </center>

    <!-- NAVBAR -->  
        <div class="topnav" id="myTopnav">
            <a href="{{url_for('home')}}" class="active">Home</a>
            <a href="{{url_for('profile')}}">View Profile</a>
            <a href="{{url_for('index')}}">Create Form</a>
            <a href="{{url_for('viewform')}}" >View Form</a>
            <a id = "edit" href="{{url_for('edit')}}">Edit Form</a>
      </div>
      <script>
      function loadSig(){
        var isAdmin = "{{adminitem[0]}}"
   
          if (isAdmin == 0) //checks t see if other checkbox is checked
          {
          
            document.getElementById("edit").setAttribute("hidden", true);
          }
        }
        window.onload = loadSig
        </script>
      <div class="row">
        <div class="side">
            <p class="view-heading">Please select the form you would like to view.</p>
            <p>This is the viewing page for an already submited incident report forms. If you need to fill out a incident report click create form above or click <a href="{{url_for('index')}}">Here</a></p>
          <br>
        </div>
        <div class="main">
            <form action="" method="post">
                <label for = "option">Select the form you would like to view below:</label>
                <h5></h5>
                Form:<br>
                <select size =15 id="choice" name="formnum"> 
                  {% for i in formID %}
                    <option id="optchoice" name="formnum"><div id = "selectoptions">{{formID[i]}} Date: {{Date[i]}}, CompletedBy:{{CompletedBy[i]}}, Facility: {{Facility[i]}}, Brand: {{Brand[i]}}</div></option>
                  {% endfor %}
                  
                <!--  ((2,),(1,) [0][0])-->  
                </select>
                <h5></h5>
                <input type="submit" value="submit">
            </form>
        </div>
      </div>

      <div id="footer">
        <center><p>&#169; All Rights Reserved.</p></center>
      </div>
      
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>