
  .box {
    border: 1px solid #000000;
    padding: 10px;
    width: 50%;
    max-width: 750px;
    min-width: 750px;
    height: 75%;
    max-height: 250px;
    min-height: 250px;
    padding-top: 10px;
    color: rgb(0, 0, 0);

    background-color:#eaecef;
    right: 50%;
    bottom: 35%;
    transform: translate(50%,50%);
    position: absolute;

    font-size: 25px;

    overflow-y: hidden;
    overflow-x:hidden;
  }